<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="customer-login.js" defer></script> <!-- Link to the external JavaScript file -->
</head>
<body>
<header>
    <img src="images/logo.png" alt="logo" class="logo">
    <h1>Customer Login</h1>
    <nav>
    <a href="home.html">Home</a>
    </nav>
</header>

<main>
    <form id="customerLoginForm">
        <label for="customerEmail">Email:</label>
        <input type="text" id="customerEmail" name="customerEmail" required>

        <label for="customerPassword">Password:</label>
        <input type="password" id="customerPassword" name="customerPassword" required>

        <button type="submit">Login</button>
    </form>

    <p class="signup-msg">If you don't have an account, <a href="customer-signup.html">Sign Up</a></p>
</main>

<footer>
    <p>&copy; 2024 Car Service Finder</p>
</footer>
</body>
</html>
